
.carousel {
    display: flex;
    justify-content: center;

}
.titlecar {
    text-align: center; 
    margin-top: 20px; 
}

.col-3 {
   background-color: rgb(221, 221, 221);
}
.options {
    display: block;
}
  @media (max-width: 767px) {
    .options {
        display: none; 
    }
  }